.btn
    margin: 0 10px
    height: 40px
    padding: 0 20px
    border: none
    outline: none
    font-size: 1.1rem
    font-weight: 500
    border-radius: 5px
    border: 1px solid #007bff
    cursor: pointer
    transition: 0.3s all ease-in-out
    &_quit
        color: #007bff
        border-color: #007bff
        &:hover
            color: #fff
            background: #007bff
    &_start
        color: #fff
        border-color: #007bff
        background: #007bff
        &:hover
            background: #0263ca
    &_next
        margin: 0 5px
        height: 40px
        width: 145px
        background: #007bff
        color: #fff
        font-size: 1rem
        &:hover
            background: #fff
            border: 1px solid #007bff
            color: #007bff
    &_replay
        color: #fff
        border-color: #007bff
        background: #007bff
        &:hover
            background: #0263ca
